.logo {
  padding-top: 1rem;
  padding-left: 4rem;
}

.cabecalho {
  margin-top: -1rem;
  padding: 1rem 4rem;
  display: flex;
  height: 90vh;
}

.cabecalho__div {
  &:first-child {
    width: 60vw;
  }

  &:last-child {
    width: 40vw;
    display: flex;
    margin-top: -10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.cabecalho__titulo {
  font-size: 3.5rem;
  color: $title-color;
}

.cabecalho__paragrafo {
  font-size: 1.2rem;
  color: $text-color;
}

.cabecalho__botoes {
  display: flex;
}

.cabecalho__botao--contate-nos {
  padding: .7rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: $main-color;
  color: white;
  border-radius: 10px;
  transition: 500ms;

  &:hover {
    box-shadow: 0px 0px 0px 5px lighten($main-color, 20%);
    cursor: pointer;
  }
}

.cabecalho__botao--assistir {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $text-color;
  border: none;
  font-size: 1rem;
  margin-left: 2rem;
  transition: 500ms;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }

  > svg {
    margin-right: .5rem;
  }
}

.cabecalho__grafico {
  width: 80%;
}

.cabecalho__colaboradores {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: -4rem;
  box-shadow: 0px 2px 20px $text-shadow;
}

.cabecalho__perfil {
  margin-left: -1rem;
}

.cabecalho__comment {
  color: $title-color;
}

.cabecalho__comment--paragraph {
  color: $text-color;
}

@media(max-width: $large) {
  .cabecalho {
    height: 70vh;
    flex-direction: column-reverse;
    margin-bottom: 5rem;
    &__titulo {
      font-size: 2rem;
    }
    &__paragrafo {
      font-size: 1rem;
    }
    &__div:last-child {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    &__grafico {
      width: 40%;
    }
    &__colaboradores {
      margin-top: -40%;
      margin-left: 10rem;
    }
  }
}
@media(max-width: $medium) {
  .cabecalho {
    &__botao--contate-nos {
      font-size: 1rem;
    }
    &__botao--assistir {
      font-size: 1rem;
    }
    &__div:first-child {
      width: 100%;
    }
  }
}
@media(max-width: $small) {
  header {
    padding: 1rem 1rem;
  }
  .logo {
    padding: 0px;
    width: 100px !important;
  }
  .cabecalho {
    height: 100vh;
    padding: 1rem 1rem;
    &__grafico{
      width: 70%;
    }
    &__botao--contate-nos {
      font-size: .9rem;
    }
    &__botao--assistir {
      font-size: .9rem;
      margin-left: .2rem;

    }
  }
}