.logo {
  padding-top: 1rem;
  padding-left: 4rem;
}

.cabecalho {
  margin-top: -1rem;
  padding: 1rem 4rem;
  display: flex;
  height: 90vh;
}

.cabecalho__div {
  &:first-child {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-top: -6rem;
    justify-content: center;
    z-index: 1;
  }

  &:last-child {
    width: 40vw;
    display: flex;
    margin-top: -10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.cabecalho__titulo {
  font-size: 3.5rem;
  color: $title-color;
}

.cabecalho__paragrafo {
  font-size: 1.2rem;
  color: $text-color;
}

.cabecalho__botoes {
  display: flex;
}

.cabecalho__botao--contate-nos {
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: $main-color;
  color: white;
  border-radius: 10px;
  transition: 500ms;

  &:hover {
    box-shadow: 0px 0px 0px 5px lighten($main-color, 20%);
    cursor: pointer;
  }
}

.cabecalho__botao--assistir {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $text-color;
  border: none;
  font-size: 1rem;
  margin-left: 2rem;
  transition: 500ms;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  > svg {
    margin-right: 0.5rem;
  }
}

.cabecalho__grafico {
}

.cabecalho__colaboradores {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: -8rem;
  box-shadow: 0px 2px 20px $text-shadow;
}

.cabecalho__perfil {
  margin-left: -1rem;
}

.cabecalho__comment {
  color: $title-color;
}

.cabecalho__comment--paragraph {
  color: $text-color;
}

@media (max-width: $large) {
  .logo {
    position: relative;
    z-index: 1 !important;
  }
  .cabecalho {
    height: 80vh;
    flex-direction: column-reverse;
    margin-bottom: 5rem;
    justify-content: space-around;
    &__titulo {
      font-size: 2rem;
    }
    &__paragrafo {
      font-size: 1rem;
    }
    &__div:last-child {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    &__grafico {
      z-index: 0;
      height: 450px;
    }
    &__colaboradores {
      margin-top: -40%;
      margin-left: 20rem;
    }
  }
}
@media (max-width: $medium) {
  .cabecalho {
    &__botao--contate-nos {
      font-size: 1rem;
    }
    &__botao--assistir {
      font-size: 1rem;
    }
    &__div:first-child {
      width: 100%;
    }
    &__grafico {
      z-index: 0;
      height: 350px;
    }
  }
}
@media (max-width: $small) {
  header {
    padding: 1rem 1rem;
  }
  .logo {
    padding: 0px;
    width: 90px !important;
  }
  .cabecalho {
    height: 75vh;
    padding: 1rem 0.5rem;
    &__grafico {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      height: 60%;
    }
    &__botao--contate-nos {
      font-size: .9rem;
      width: 40%;
      padding-left: .5rem;
      padding-right: .5rem;
    }
    &__botao--assistir {
      font-size: .9rem;
      width: 60%;
      padding-left: .5rem;
      padding-right: .5rem;
      margin-left: 0.2rem;
    }

    &__div:last-child {
      margin-top: 0px;
      margin-bottom: 3rem;
    }
    &__colaboradores {
      margin-top: -70%;
      margin-left: 10rem;
      transform: scale(.8);
    }

  }
}
