.graficos {
  padding: 1rem 4rem;
}

.graficos__titulo {
  color: $title-color;
  font-size: 2.5rem;
}

.graficos__paragrafo {
  color: $text-color;
  font-size: 1.3rem;
}

.graficos__div {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  grid-template-rows: 1fr 1fr !important;
  gap: 1rem;
}

.graficos__grafico {
  text-decoration: none;
  transition: 500ms;

  &:hover {
    opacity: 0.7;
  }
}

.graficos__grafico--maior {
  grid-column: span 2;
  grid-row: span 2;

  img {
    width: 100%;
  }
}

.graficos__subtitulo {
  font-size: 1.2rem;
  color: $title-color;
}

.graficos__detalhes {
  color: $text-color;
}

@media (max-width: $large) {
  .graficos {
    &__div {
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
    }
    &__grafico article {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: $medium) {
  .graficos {
    &__titulo {
      font-size: 2rem;
    }
    &__paragrafo {
      font-size: 1rem;
    }
  }
}
