.informacoes {
    display: flex;
    padding: 7rem 4rem;
    margin-top: 4rem;
}
.informacoes__titulo {
    font-size: 2rem;
    color: var(--title-color);
}
.informacoes__paragrafo {
    color: var(--text-color);
}
.informacoes__subtitulo {
    color: var(--title-color);
    font-size: 1.2rem;
}
.informacoes__campo {
    width: 50vw;
    margin: 0 .5rem;
}
.informacoes__campo:first-child {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.informacoes__campo:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}