.rodape {
  background-color: var(--footer);
  margin: -0.5rem;
  margin-bottom: -1rem;
  padding: 1rem 4rem;
}
.rodape__campo:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.rodape__sociais {
  display: flex;
  align-items: center;
}
.rodape__social--background {
  background-color: rgb(var(--main-color));
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0rem 0.5rem;
}
.rodape__social--link {
  transition: 500ms;
}
.rodape__social--link:hover {
  opacity: .7;
}

.horizontal {
    border-color: #EAEEF3;
    border-style: solid;
    border-width: 0.2px;
}

.rodape__subtitulo {
    color: white;
    font-size: 1.3rem;
}
.rodape__navegacao {
    display: flex;
    margin-top: -1rem;
}
.rodape__navegacao--link {
    color: rgba(255, 255, 255, 0.795);
    margin-right: 1.5rem;
    transition: 500ms;
    text-decoration: none;
}
.rodape__navegacao--link:hover {
    opacity: .8;
}
.rodape__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rodape__botao {
    padding: .7rem 2.5rem;
    font-size: 1rem;
    border: none;
    background-color: rgb(var(--main-color));
    color: white;
    border-radius: 10px;
    transition: 500ms;
}
.rodape__botao:hover {
    box-shadow: 0px 0px 0px 5px rgba(var(--main-color), 0.5);
    cursor: pointer;
}

.rodape__copyright {
    text-align: center;
    color: white;
    padding-top: 3rem;
}